<div class="row">
<div class="col-12">
    <%= form_with model: @obj do |f| %>
        <div class="form-group">
            <%= f.label :product_name %><br />
            <%= f.text_field :product_name, autofocus: true, autocomplete: "product_name", class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :product_desc %><br />
            <%= f.text_area :product_desc, autofocus: true, autocomplete: "product_desc", class: "form-control" %>
        </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :brand %><br />
            <%= f.text_field :brand, autofocus: true, autocomplete: "brand", class: "form-control" %>
        </div>

        <div class="form-group col-md-6">
            <%= f.label :price %><br />
            <%= f.text_field :price, autofocus: true, autocomplete: "price", class: "form-control" %>
        </div>
    </div>

    <div class="actions">
        <%= f.submit(@obj.new_record? ? "Add" : "Update", class: "btn btn-outline-success") %>
    </div>
    <% end %>

</div>
</div>
