<div class="container col-md-6">
    <h2 class="button-top-margin">Product</h2>
    <div class="card mb-3 button-top-margin" style="max-width: 555px;">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img" alt="<%= @product.product_name%>">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title"><%= @product.product_name%></h5>
            <p class="card-text"><%= @product.product_desc%></p>
            <p class="card-text"><%= @product.brand%></p>
            <p class="card-text"><small class="text-muted"><%= @product.price%></small></p>
            <%= link_to "order" , new_product_order_path(@product), class: "btn btn-outline-success btn-sm" %>
            <%= link_to "total orders" , product_orders_path(@product), class: "btn btn-outline-info btn-sm" %>

        </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
        <hr class="col-md-6"/>

        <%= label_tag :Comments, nil, class: "text-monospace font-weight-bold"  %><br/>

        <% if @product.comments.any? %>
            <% @product.comments.each do |comment| %>
                <%= label_tag comment.user, comment.user, class: "text-monospace font-weight-bold" %> : <%= comment.body%>
                <%= link_to "edit", edit_product_comment_path(@product, comment), class: "btn btn-outline-success btn-sm"  %>
                <%= link_to "delete", product_comment_path(@product, comment), method: :delete, class: "btn btn-outline-danger btn-sm" %>
                <br/>

            <%end%>
            
        <%end%>

        <% if params[:action]=="edit"%>
            <%= form_with model: [@product, @comment ] do |f| %>

                <%= f.label(:Comment, class: "text-monospace font-weight-bold") %>
                <%= f.text_area :body, autofocus: true, autocomplete: 'body', class: 'form-control col-md-6' %>
                <%= f.submit("Update" , class: "btn btn-outline-dark button-top-margin")%>
            <% end %>

        <%else%>
            <%= form_with model: [@product, @product.comments.build ] do |f| %>

                <%= f.label(:Comment, class: "text-monospace font-weight-bold") %>
                <%= f.text_area :body, autofocus: true, autocomplete: 'body', class: 'form-control col-md-6' %>
                <%= f.submit("Comment" , class: "btn btn-outline-dark button-top-margin")%>
            <% end %>

        <%end%>

        

    </div>
    </div>
</div>